.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style: none;
}

#rating span {
  font-size: 48px;
  cursor: pointer;
}
.activeRating {
  color: orange;
  font-weight: bold;
}

.imageGallery{
  display: flex;
  justify-content: center;
}

.imageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.image{
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
}

.navigationList{
  display: flex;
}

.navigationImage img{
  transition: all .2s ease-in-out;
  width: 150px;
  height: 150px;
  margin: 5px;
}
.navigationImage:focus{
  outline: none;
}
.navigationImage:focus img{
  transform: scale(1.25);
}
